[user]
    name = Daniel Goldfarb
    email = dgoldfarb.github@gmail.com

[diff]
    tool = xxdiff

[merge]
    tool = xxdiff

[init]
    defaultBranch = main

[pull]
    ff = only

[push]
    autoSetupRemote = true

[alias]
    st = status -sb
    lg = log --oneline --graph --decorate --all
    co = checkout
    br = branch
    last = log -1 --stat
